<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=#main, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      <div class="head"></div>
      <div class="row2">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </div>
    <div id="main2">
      <div class="header"></div>
      <div class="nav"></div>
      <div class="row2">
        <div class="left">
          <div class="section"></div>
          <div class="article"></div>
        </div>
        <div class="right"></div>
      </div>
      <div class="footer"></div>
    </div>

    <div id="main3">
      <div class="row1">
        <div class="header_logo"></div>
        <div class="header_banner"></div>
      </div>
      <div class="header_bar"></div>
      <div class="row3">
        <div class="left_block"></div>
        <div class="center_center_block">
          <div class="upper_block"></div>
          <div class="middle_block">
            <div class="middle_left"></div>
            <div class="middle_right"></div>
          </div>
          <div class="lower_block"></div>
        </div>
        <div class="right_block"></div>
        <div class="footer_bar"></div>
      </div>
    </div>
    <div id="main4">
      <div class="row1">
        <div class="sidebar"></div>
        <div class="right">
          <div class="nav"></div>
          <div class="lower">
            <div class="left">
              <div class="main"></div>
              <div class="lower2">
                <div class="section_left"></div>
                <div class="section_right"></div>
              </div>
              <div class="sidebar2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main5">
      <div class="header"></div>
      <div class="nav_global"></div>
      <div class="row3">
        <div class="left">
          <div class="page_title"></div>
          <div class="content"></div>
          <div class="left_2">
            <div class="content2"></div>
            <div class="content3"></div>
          </div>
        </div>
        <div class="right">
          <div class="nav_local"></div>
          <div class="sidebar"></div>
        </div>
      </div>
    </div>
    <div id="main6">
      <div class="header">
        <div class="lower">
          <div class="nav"></div>
        </div>
        <div class="main">
          <div class="upper"></div>
          <div class="middle"></div>
          <div class="lower"></div>
        </div>
        <div class="footer"></div>
      </div>
    </div>
  </body>
</html>
