<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box-group {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
      .box {
        width: 23%;
        height: 200px;
        background-color: aqua;
      }
      .box1 {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .box2 {
        width: 28%;
      }
    </style>
  </head>
  <body>
    <div class="box-group">
      <div class="box box1">hello</div>
      <div class="box box2"></div>
      <div class="box box3"></div>
    </div>
  </body>
</html>
